# Application
DJANGO_ENV=development
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=change-this-secret-key

# Database
POSTGRES_DB=nom-de-la-db
POSTGRES_USER=nom-user
POSTGRES_PASSWORD=mot-de-passe
POSTGRES_HOST=localhost
POSTGRES_PORT=5432