# Application
DJANGO_ENV=development
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=change-this-secret-key

# Database
POSTGRES_DB=rentflow
POSTGRES_USER=rentflow
POSTGRES_PASSWORD=change-this-password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432